.body {
  background-color: #151c33;
}

.section {
  background-color: #151c33;
}

.image {
  width: 4%;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.brand {
  background-image: url('../images/michellenguyen.png');
  background-position: 0px 0px;
  background-size: cover;
}

.navbar {
  margin-top: 0px;
  padding-top: 22px;
  background-color: #151c33;
  -webkit-transition: opacity 0ms ease;
  transition: opacity 0ms ease;
}

.nav-link {
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.nav-link-2 {
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.nav-link-2.w--current {
  font-family: Apercu, sans-serif;
  font-size: 14px;
}

.nav-link-3 {
  color: snow;
}

.nav-link-4 {
  font-family: Apercu, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.heading {
  overflow: scroll;
  padding-top: 100px;
  padding-left: 220px;
  font-family: 'Open Sans', sans-serif;
  color: #83cbde;
  font-weight: 700;
}

.text-block {
  margin-top: 20px;
  padding-top: 140px;
  padding-left: 220px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 40px;
  font-weight: 300;
  text-align: left;
}

.text-block-2 {
  overflow: visible;
  height: 30px;
  margin-top: 165px;
  margin-bottom: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #83cbde;
  font-size: 85px;
  line-height: 0px;
  font-weight: 700;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.text-span {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
}

.text-span-2 {
  color: #fff;
  font-size: 65px;
  font-weight: 300;
}

.text-block-3 {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1.5px;
}

.image-2 {
  color: #fff;
}

.image-3 {
  margin-top: 10px;
}

.body-2 {
  background-color: #edf2f6;
  box-shadow: 1px 1px 0 0 #000;
  color: #edf2f6;
}

.container {
  border: 5px none #000;
}

.image-4 {
  padding-top: 35px;
  padding-right: 0px;
  padding-left: 22px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.47);
  text-align: center;
}

.image-5 {
  margin-top: 35px;
  margin-left: 67px;
  padding-top: 0px;
  padding-left: 0px;
  box-shadow: 1px 1px 3px 2px rgba(97, 91, 91, 0.39);
}

.button {
  display: inline-block;
  margin-top: 0px;
  padding-top: 9px;
  background-color: #edf2f6;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
  text-align: right;
}

.button-2 {
  margin-top: -133px;
  margin-bottom: 0px;
  margin-left: 200px;
  padding-top: 10px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 20px;
  background-color: #83cbde;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.paragraph {
  margin-right: -200px;
  margin-bottom: 200px;
  margin-left: 200px;
  padding: 0px 0px 0px 200px;
  color: #000;
  text-align: center;
}

.text-block-4 {
  display: inline-block;
  margin-left: 19px;
  color: #030303;
}

.image-6 {
  margin-top: 38px;
  margin-left: 175px;
  box-shadow: 1px 1px 3px 0 #696363;
}

.text-block-5 {
  display: inline;
}

.column {
  display: block;
  margin-top: 38px;
  padding-right: 0px;
  padding-bottom: 144px;
  padding-left: 178px;
  color: transparent;
}

.heading-2 {
  margin-top: 92px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.text-block-6 {
  margin-top: 3px;
  margin-right: 200px;
  margin-left: -162px;
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Apercu, sans-serif;
  color: #000;
  font-size: 12px;
  text-align: left;
}

.text-block-7 {
  margin-top: 32px;
  margin-right: 200px;
  margin-left: -165px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #020202;
  font-size: 40px;
  font-weight: 700;
}

.paragraph-2 {
  margin-top: 38px;
  margin-right: 200px;
  margin-left: -159px;
  font-family: Apercu, sans-serif;
  color: #000;
}

.button-3 {
  display: inline-block;
  margin-top: 22px;
  margin-left: -159px;
  background-color: #83cbde;
  font-family: Apercu, sans-serif;
  letter-spacing: 1px;
}

.text-block-8 {
  display: inline-block;
  margin-top: -200px;
  margin-bottom: 200px;
  margin-left: 111px;
  font-family: Apercu, sans-serif;
  color: #000;
  font-size: 40px;
  font-weight: 700;
}

.text-block-9 {
  display: block;
  margin: -178px 184px -200px 114px;
  padding: 0px;
  font-family: Apercu, sans-serif;
  color: #000;
}

.section-2 {
  margin-top: 51px;
  margin-bottom: 200px;
  border: 1px solid transparent;
}

.columns {
  margin-top: 200px;
}

.image-7 {
  margin-top: 29px;
  margin-left: 102px;
  box-shadow: 1px 1px 3px 0 #3d3b3b;
}

.image-8 {
  margin-top: 29px;
  margin-left: 41px;
  box-shadow: 1px 1px 3px 0 #4d4d4d;
}

.image-9 {
  margin-top: 29px;
}

.image-10 {
  margin-top: 29px;
  margin-left: -25px;
  box-shadow: 1px 1px 3px 0 #4d4d4d;
}

.heading-3 {
  margin-top: -79px;
  margin-bottom: 0px;
  margin-left: 111px;
  font-family: Apercu, sans-serif;
  color: #000;
  font-size: 40px;
}

.image-11 {
  margin-left: 86px;
  border: 1px solid transparent;
}

.image-12 {
  margin-top: 48px;
  margin-left: 51px;
}

.image-13 {
  margin-top: 19px;
  margin-right: 35px;
  margin-left: 111px;
}

.image-14 {
  margin-top: 44px;
  margin-left: 200px;
  box-shadow: 1px 1px 3px 0 #474747;
}

.image-15 {
  margin-top: 44px;
  margin-left: 0px;
  box-shadow: 1px 1px 3px 0 #474747;
}

.image-16 {
  margin-top: 13px;
  margin-left: 200px;
  box-shadow: 1px 1px 3px 0 #474747;
}

.image-17 {
  margin-top: 13px;
  margin-left: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
  box-shadow: 1px 1px 3px 0 #474747;
}

.columns-2 {
  margin-bottom: 124px;
}

.column-2 {
  border: 1px solid transparent;
  opacity: 1;
}

.container-2 {
  margin-top: 48px;
  background-color: #151c33;
}

.navbar-2 {
  background-color: #151c33;
}

.nav-link-5 {
  font-family: Apercu, sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

.nav-link-6 {
  font-family: Apercu, sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

.nav-link-7 {
  font-family: Apercu, sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

.image-18 {
  margin-top: -32px;
  margin-right: 48px;
  margin-left: -95px;
}

.section-3 {
  margin-top: 200px;
}

.body-3 {
  background-color: #edf2f6;
  color: #edf2f6;
}

.image-19 {
  margin-top: 60px;
  margin-left: 200px;
}

.heading-4 {
  margin-top: -29px;
  margin-right: 140px;
  font-family: Apercu, sans-serif;
  color: #000;
  font-size: 32px;
}

.column-3 {
  margin-top: 111px;
}

.paragraph-3 {
  margin-right: 200px;
  font-family: Apercu, sans-serif;
  color: #000;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
     color:#83CBDE;
     text-decoration:none; 
     cursor:pointer;  
}