body {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: #EDF2F6;
}

h1 {
/*  font-size: 60px;*/
  /*font-family: Bodoni 72, serif;*/
  /*font-family: 'Arapey', serif;*/
/*  font-family: Times;*/
  color: #83CBDE; 
  text-align: left;
  
}


div {
  /*padding-left: 5%;
  padding-right: 5%;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 550px;
  color: none;
  /*background-size: cover;
  background-position: center;*/
}


header .row,
footer .row {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;

}



header nav {
  display: flex;
  justify-content: flex-end;
}


p {
  padding: 0 20px;
  margin: 0;
  text-align: left;*/
}

/*#contact_header {
  height: 150px;
  background-color: #EFE7F7;
}*/

/*#contact {
  padding-right: 300px 0;
}*/

#bar {
  padding: 20px;
}

#img {
  align-items: left;
}

#bio {
  padding-top: 10%;
  padding-bottom: 40px;
  padding-left: 20%;
}

#greeting {
  /*text-align: left;*/
  font-size: 31px;
}

#description {
  padding-bottom: 10px; 
  padding-right: 120px; 
  margin-left: 0px; 
  margin-right: 0px

}

#contact {
  padding-left: 20%;
}

#links {
  padding-right: 30px;
}




