.body {
  background-color: #151c33;
}

.section {
  background-color: #151c33;
}

.image {
  width: 4%;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.brand {
  background-image: url('../images/michellenguyen.png');
  background-position: 0px 0px;
  background-size: cover;
}

.navbar {
  background-color: #151c33;
  -webkit-transition: opacity 0ms ease;
  transition: opacity 0ms ease;
}

.nav-link {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
}

.nav-link-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
}

.nav-link-3 {
  color: snow;
}

.nav-link-4 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
}

.heading {
  overflow: scroll;
  padding-top: 100px;
  padding-left: 220px;
  font-family: 'Open Sans', sans-serif;
  color: #83cbde;
  font-weight: 700;
}

.text-block {
  margin-top: 20px;
  padding-top: 140px;
  padding-left: 220px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 40px;
  font-weight: 300;
  text-align: left;
}

.text-block-2 {
  overflow: visible;
  height: 30px;
  margin-bottom: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #83cbde;
  font-size: 70px;
  line-height: 0px;
  font-weight: 700;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.text-span {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
}

.text-span-2 {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1.5px;
}

.image-2 {
  color: #fff;
}

.image-3 {
  margin-top: 10px;
}

.body-2 {
  background-color: #edf2f6;
  box-shadow: 1px 1px 0 0 #000;
  color: #edf2f6;
}

.container {
  border: 1px none #000;
}

.image-4 {
  padding-top: 35px;
  padding-right: 0px;
  padding-left: 22px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.47);
  text-align: center;
}

.image-5 {
  margin-top: 35px;
  margin-left: 67px;
  padding-top: 0px;
  padding-left: 0px;
  box-shadow: 1px 1px 3px 2px rgba(97, 91, 91, 0.39);
}

.button {
  display: inline-block;
  margin-top: 0px;
  padding-top: 9px;
  background-color: #edf2f6;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
  text-align: right;
}

.button-2 {
  margin-top: -133px;
  margin-bottom: 0px;
  margin-left: 200px;
  padding-top: 10px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 20px;
  background-color: #83cbde;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.paragraph {
  margin-right: -200px;
  margin-bottom: 200px;
  margin-left: 200px;
  padding: 0px 0px 0px 200px;
  color: #000;
  text-align: center;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}